{% extends "client/base.twig" %}

{% block content %}
    <h3>OAuth2.0 Demo Application</h3>
    <p>
        Welcome to the OAuth2.0 Demo Application!  This is an application that demos some of the basic OAuth2.0 Workflows.
    </p>

    <article class="tabs">

        <section id="tab1">
            <h2><a href="#tab1">Authorization Code</a></h2>
            {% include 'client/grant_types/_authorization_code.twig' %}
        </section>

        <section id="tab2">
            <h2><a href="#tab2">Implicit</a></h2>
            {% include 'client/grant_types/_implicit.twig' %}
        </section>

        <section id="tab3">
            <h2><a href="#tab3">User Credentials</a></h2>
            {% include 'client/grant_types/_implicit.twig' %}
        </section>

    </article>
{% endblock %}