{% extends "client/base.twig" %}

{% block content %}
    <h3>Token Retrieved!</h3>
    <pre><code>  Access Token: {{ token }}  </code></pre>

    <p>
        Now use this token to make a request to the OAuth2.0 Server's APIs:
    </p>

    <a class="button" href="{{ path('request_resource', { 'token': token }) }}">make a resource request</a>

    <div class="help"><em>This token can now be used multiple times to make API requests for this user.</em></div>

    <a href="{{ path('homepage') }}">back</a>
{% endblock %}
