<form method="post" action="{{ url('set_environment') }}" style="margin-top:5px" id="environment-form">
    <div class="styled-select">
        <select name="environment" onchange="document.getElementById('environment-form').submit()">
            {% for env in app.environments %}
                <option{%if app.session.get('config_environment') == env%} selected{%endif%}>{{env}}</option>
            {% endfor %}
      </select>
    </div>
</form>
