{
  "client_id": "demoapp",
  "client_secret": "demopass",
  "token_route": "grant",
  "authorize_route": "authorize",
  "resource_route": "access",
  "resource_params": {},
  "user_credentials": ["demouser", "testpass"],
  "http_options": { "exceptions": false }
}