{
  "client_id": "demoapp",
  "client_secret": "demopass",
  "grant_route": "grant",
  "grant_url": "",
  "authorize_route": "authorize",
  "authorize_url": "",
  "curl_options": {},
  "api_route": "access",
  "api_url": "",
  "api_method": "GET",
  "api_params": {}
}